html {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  width: 500px;
}

.inputs {
  display: inline-flex;
}

.nes-container {
  width: 60vw;
}

img {
  pointer-events: none;
  user-select: none;
  image-rendering: pixelated;
  width: 400px;
  height: 400px;
  filter: brightness(0);
}

.win {
  transition: all 1.5s;
  filter: brightness(1);
}
