html {
  display: flex;
  align-items: center;
  justify-content: center;

}

input[type="text"] {
  text-transform: lowercase;
  width: 100%;
}

.inputs {
  display: inline-flex;
}

a {
  display: block;
  padding-top: 1.5rem;
}


.nes-container {
  margin: 2rem;
  width: 100%;
}

img {
  pointer-events: none;
  user-select: none;
  image-rendering: pixelated;
  width: 400px;
  height: 400px;
  filter: brightness(0);
}

.win {
  transition: all 1.5s;
  filter: brightness(1);
}